.flex-container {
  display: flex;
  align-content: flex-end;
}

h1 {
  margin-block-start: 0.8em;
  margin-block-end: 0.45em;
  text-align: center;
  margin-top:0px
}

.p1 {
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
  text-align: center;
}

html {
  background-color: beige;
}

#subcontainer{
  flex-direction: column;
  justify-content: center;
  width: 150%;
  margin:20px;

}

#success{
  width: 100%;
  height: 450px;
  margin-bottom: 0px;

}

#downs{
  width: 100%;
  height: 800px;
  margin: 20px;
  margin-left: 0px;
  margin-top:0px;

}

#pictures{
  height: 50px
}